@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}
footer{
  display: flex;
  justify-content: space-around;
  background-color: #EBD9BA;
  color: #fff;
  padding: 1em;
  height: 90px;
}
.footer-menu{
  display: flex;
  align-items: flex-end;
  margin: 20px 0px 0px 20px;
}

.footer-menu li{
  list-style-type: none;
  cursor: pointer;
  font-family: 'Open Sans';
}
#b-button{
 color: #255B2C;
  text-decoration: none;
}
#b-button:hover{
  font-weight: bolder;
}
.footer-details{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
}
.footer-details p{
  color: #255B2C;
  font-weight: lighter;
  margin: 5px 0px ;
  font-size: 1em;

}
.footer-socialmedia{
  display: flex;
  margin-top: 5px;
  padding: 0;
  justify-content: center;
}
.footer-icons{
  display: flex;
}
.footer-icons > li {
  margin-right: 10px;
}
.footer-socialmedia li{
  display: flex;
  list-style-type: none;
  justify-content: center;
  cursor: pointer;
}
.footer-socialmedia svg{
  font-size: 1.25em;
  color: #E7A83E;
}
.footer-socialmedia svg:hover{
  color:#255B2C;
}
.footer-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-span{
  font-size: 0.75em;
  color: #efc57e;
  cursor: pointer;
}
.copy_right{
  font-size: 0.75em;
  color: #efc57e;
}