@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}
footer{
  display: flex;
  background-color: #e7a83e;
  color: #fff;
  padding: 1em;
  height: 90px;
}
.footer-menu{
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: left;
  margin: 20px 0px 0px 20px;
}

.footer-menu li{
  list-style-type: none;
  cursor: pointer;
  font-family: 'Open Sans';
}
#b-button{
 color: #fff;
  text-decoration: none;
}
#b-button:hover{
  color:#006400
}
.footer-socialmedia{
  flex: 2;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  font-family: 'Open Sans';
}
.footer-socialmedia p{
  color: #fff;
  font-weight: lighter;
}
.footer-socialmedia ul{
  margin: 20px 0px 0px 20px;
}
.footer-socialmedia li{
  list-style-type: none;
  justify-content: right;
  cursor: pointer;
}
.footer-socialmedia svg{
  font-size: 1.25em;
}
.footer-socialmedia svg:hover{
  color:#006400
}
.footer-span{
  font-size: 0.75em;
  color: #efc57e;
}
.copy_right{
  font-size: 0.75em;
  color: #efc57e;
}