@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'HK Grotesk Medium';
  src: url('fonts/hk-grotesk.medium-legacy.ttf') format('truetype');
}
.home-conteiner{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 5px 20px;
  padding: 5px 15px;
}
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 0;
}
.image-conteiner{
  margin: 30px;
  flex: 1;
  height: 500px;
  width: 500px;
}
.image-conteiner img{
  height: 500px;
  width: 500px;
}
.text-conteiner{
  flex: 40%;
  font-family: 'HK Grotesk Medium';
  padding: 50px 15px 70px 100px;
}
.titulo{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans' ;
  color: #e7a83e;
  align-items: center;
}
p{
  color: #255B2C;
  
  word-spacing: 3px;
  font-size: 20px;
}
.home-invite{
  background-color: #255B2C;
  color: #fff;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0 10px 0px;
  align-items: baseline
  
}
.invite-h1{
  font-family: 'Open Sans';
  font-size: 1rem;
  margin-bottom: 5px;
}
.invite-button{
  margin: 10px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  font-family: 'HK Grotesk Medium';
  background-color: #fff;
  border-color: #fff;
  color: #255B2C;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .2s transform ease-in-out
  will-change transform
  z-index 0
}
.invite-button::after{
  background-color:#e7a83e;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: .2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.invite-button:hover::after{
  transform: translate(0, 0);
}
.invite-button:hover{
border: 2px solid transparent;
color: #255B2C;
transform: scale(1.05);
will-change: transform;
}